In [1]:
import mysql.connector

def create_connection():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Dharmaraju98",
        database="HealthFlow" 
    )
    return connection

def run_query(query):
    connection = create_connection()
    cursor = connection.cursor(dictionary=True)
    cursor.execute(query)
    result = cursor.fetchall()
    cursor.close()
    connection.close()
    return result

In [2]:
def test_connection():
    try:
        connection = create_connection()
        if connection.is_connected():
            print("Connection successful!")
        else:
            print("Connection failed.")
    except mysql.connector.Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            connection.close()

# Run the test function
test_connection()

Error: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (61)

UnboundLocalError: cannot access local variable 'connection' where it is not associated with a value

In [3]:
import mysql.connector

# Database connection details
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Dharmaraju98",
    database="HealthFlow"
)

# Query to fetch column names
query = "SHOW COLUMNS FROM LifeBegins;"
cursor = connection.cursor()
cursor.execute(query)

# Fetch and display column names
columns = cursor.fetchall()
column_names = [column[0] for column in columns]

cursor.close()
connection.close()

column_names

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (61)